    <div class="svg-container">
        <svg viewbox="0 0 800 400" class="svg">
        <path id="curve" fill="#2196F3" d="M 800 300 Q 400 350 0 300 L 0 0 L 800 0 L 800 300 Z">
        </path>
        </svg>
    </div>

    <header>
        <img width="150px" src="media/images/healthy-lifestyle.png">
        <h1>FitMe is your daily partner in helping you maintain healthy lifestyle!</h1><br/>
        <h3>Using FitMe you can create workout plans, update daily logs and much more.</h3>
    </header>

    <main>
        <div class="home-sections">
            <div class="home-sec-1">
                <img width="120px" src="media/images/diet.png">
                <h3>Using FitMe you can easily see your diet plans</h3>
            </div>
            <div class="home-sec-2">
                <img width="120px" src="media/images/schedule.png">
                <h3>Log your daily workout activities to get insight on body's health</h3>
            </div>
            <div class="home-sec-3">
                <img width="120px" src="media/images/training.png">
                <h3>Create and manage workout plans to follow</h3>
            </div>
        </div>
    </main>

    <script>
        $(document).ready(function() {
            var curve = document.getElementById("curve");
            var last_known_scroll_position = 0;
            var defaultCurveValue = 350;
            var curveRate = 3;
            var ticking = false;
            var curveValue;
            function scrollEvent(scrollPos) {
                if (scrollPos >= 0 && scrollPos < defaultCurveValue) 
                {
                    curveValue = defaultCurveValue - parseFloat(scrollPos / curveRate);
                    curve.setAttribute(
                        "d",
                        "M 800 300 Q 400 " + curveValue + " 0 300 L 0 0 L 800 0 L 800 300 Z"
                    );
                }
            }
            window.addEventListener("scroll", function(e) {
                last_known_scroll_position = window.scrollY;
                if (!ticking) 
                {
                    window.requestAnimationFrame(function() {
                        scrollEvent(last_known_scroll_position);
                        ticking = false;
                    });
                }
                ticking = true;
            });
        });
    </script>