<div class="login-cont">
    <div class="login-box workout-box">
        <img width="100px" src="media/images/training.png" />
        <br/><br/>
        <h2>Your Workout Plans</h2>
        <br/><br/>
        <div class="plan-cards-div">
            <?php 
                $plansCount = 0;
                while($row0 = oci_fetch_array($query_id_0, OCI_BOTH+OCI_RETURN_NULLS))
                { 
                    $exerciseDetails = array();
                    $nutrientDetails = array();
                    $wID = $row0['WORKOUT_ID'];
                    $wName = $row0['NAME'];
                    $sql_query_t1 = "SELECT * FROM workout_exercise WHERE workout_id = '$wID'";
                    $query_id_t1 = oci_parse($con, $sql_query_t1); 		
                    $result = oci_execute($query_id_t1);   
                    while($row2 = oci_fetch_array($query_id_t1, OCI_BOTH+OCI_RETURN_NULLS))
                    {
                        $exID = $row2['EXERCISE_ID'];
                        $targets = $row2['TARGET_REPS'];
                        $sql_query_t2 = "SELECT * FROM exercise WHERE exercise_id = '$exID'";
                        $query_id_t2 = oci_parse($con, $sql_query_t2); 		
                        $result = oci_execute($query_id_t2); 
                        $result_arr_t2 = oci_fetch_array($query_id_t2, OCI_BOTH+OCI_RETURN_NULLS);
                        $exName = $result_arr_t2['NAME'];
                        $exerciseDetails[$exName] = $targets;
                    }
                    $sql_query_t3 = "SELECT * FROM nutrient_plan WHERE workout_id = '$wID'";
                    $query_id_t3 = oci_parse($con, $sql_query_t3); 		
                    $result = oci_execute($query_id_t3);  
                    while($row2 = oci_fetch_array($query_id_t3, OCI_BOTH+OCI_RETURN_NULLS))
                    {
                        $ntID = $row2['NUTRIENT_ID'];
                        $ntAmount = $row2['AMOUNT'];
                        $sql_query_t4 = "SELECT * FROM nutrient WHERE nutrient_id = '$ntID'";
                        $query_id_t4 = oci_parse($con, $sql_query_t4); 		
                        $result = oci_execute($query_id_t4); 
                        $result_arr_t4 = oci_fetch_array($query_id_t4, OCI_BOTH+OCI_RETURN_NULLS);
                        $ntName = $result_arr_t4['NAME'];
                        $nutrientDetails[$ntName] = $ntAmount;
                    }
                    $plansCount++;
            ?>
            <div class="plan-card">
                <h3><?php echo $wName; ?></h3>
                <div class="plan-card-exercises">
                    <h4>Exercises</h4>
                    <?php foreach($exerciseDetails as $key => $value) { ?>
                    <h5 style="margin: 5px"><?php echo $key; ?>: <?php echo $value; ?></h5>
                    <?php } ?>
                </div>
                <div class="plan-card-nutrients">
                    <h4>Nutrients</h4>
                    <?php foreach($nutrientDetails as $key => $value) { ?>
                    <h5 style="margin: 5px"><?php echo $key; ?>: <?php echo $value; ?></h5>
                    <?php } ?>
                </div>
                <form method="POST" action="">
                    <input type="hidden" name="workout-id" value="<?php echo $wID; ?>">
                    <button type="submit" name="delete-plan-submit" class="form-btn small-btn red-btn" style="margin-bottom: 0px;"><i class="fas fa-trash"></i> Delete Plan</button>
                </form>
            </div>
            <?php
                }
                if($plansCount == 0)
                {
                    echo "<h4>No Plans Found! Click the button below to create one.</h4>";
                }
            ?>
        </div>
        <br/><br/>
        <hr/>
        <a style="text-decoration: none;" href="setup-workout.php"><button class="form-btn">Create New Plan</button></a>
    </div>
</div>